<?xml version="1.0" encoding="GBK"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd"
	default-autowire="byName">
    <!-- ======================================================================== -->
    <!--  DAO interface object                                                            -->
    <!-- ======================================================================== -->
#foreach ($table in $plugin.sortedTables)
#set ($parent = "baseCasSqlMapClientDAO")
#if (${table.isAutoSwitchDataSrc})
#set ($parent = "autoSwitchDataSrcBaseSqlMapClientDAO")
#end
    <bean id="${table.beanName}DAO" class="${table.package}.ibatis.Ibatis${table.baseClassName}DAO" parent="$parent"/>
#end

	<bean id="${plugin.seqDAOBeanName}" class="${plugin.qualifiedSeqIbatisClassName}" parent="baseCasSqlMapClientDAO"/>
	
	<!-- extends dao config for groups sql(count,sum,etc.)-->
	<bean id="extCommonProcessDAO" class="com.cmcc.optimize.dataaccess.dao.ibatis.ExtIbatisCommonProcessDAO" parent="baseCasSqlMapClientDAO"/>
	<bean id="extCustomProcessDAO" class="com.cmcc.optimize.dataaccess.dao.ibatis.ExtIbatisCustomProcessDAO" parent="baseCasSqlMapClientDAO"/>

</beans>